node_modules
.next
.env
drizzle */migrations

# YouTube API routes
app/api/youtubes

# Tera API routes
app/api/tera

# Eporner API routes
app/api/adult/eporner

# Email service and email list
lib/email-service.ts
emails.txt
scripts/send-test-emails.ts
